html, body{
  height: 100vh;
  background-image: url(https://www.muralswallpaper.com/app/uploads/multi-coloured-abstract-watercolour-brush-strokes-wallpaper-mural-Plain-820x532.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #95ABDA;
  font-family: bello-pro;
  font-size: 100px;
  max-width: 350px;
}

ul {
  font-family: lato;
  font-size: 15px;
  line-height: 1.2;
}

/* unvisited link */
a:link {
  color: #95ABDA;
}

/* mouse over link */
a:hover {
  color: #7686A8;
}
