html, body{
  height: 100vh;
  background-image: url(https://www.muralswallpaper.com/app/uploads/multi-coloured-abstract-watercolour-brush-strokes-wallpaper-mural-Plain-820x532.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #bb6051;
  font-family: yellowtail;
  font-size: 150px;
  max-width: 350px;
}

ul {
  font-family: open-sans;
  font-size: 18px;
  line-height: 1.2;
}

/* unvisited link */
a:link {
  color: #53969f;
}

/* mouse over link */
a:hover {
  color: #0e5264;
}
