html, body{
  height: 100vh;
  background: linear-gradient(to bottom, #7927b2, #fb3182);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(to right, #7927b2, #fb3182);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 350px;
  text-transform: uppercase;
  line-height: .77;
}

ul {
  font-size: 15px;
}
