html {
  background-color: black;
}

body {
  font-size: 50px;
  font-family: azote;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

p {
  border-style: solid;
  border-color: white;
  border-width: thick;
  box-shadow: 0px 0px 20px 10px;
}

a:link {
  color: black;
}

a:hover {
  color: white;
}

a:visited {
  color: black;
}
