body {
  font-size: 60px;
  font-family: azote;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

p {
  border-style: solid;
  border-color: black;
  border-width: medium;
  padding: 40px;
  box-shadow: 0px 0px 80px 40px;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}
