html {
  background-color: black;
}

body {
  font-size: 20px;
  font-family: azote;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

a:link {
  color: black;
}

a:hover {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: black;
}
