nav {
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0 10%;
  text-align: justify;
}
.col1 {
  width: 65%;
  margin: 50px auto;
  float: left;
}
.col2 {
  width: 35%;
  margin: 50px auto;
  float: left;
}
h1{
  font-size: 100px
}
h2{
  font-size: 40px
}
p {
  line-height: 1.5
}

@media only screen and (max-width: 1000px) {
  .col1 {
    width: 100%;
    margin: 50px auto;
  }
  .col2 {
    width: 100%;
    margin: 50px auto;
  }
p {
    line-height: 1.2;
  }
