* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
main {
  width: 130vw;
}
.shape1 {
  background-color: #9BBDF9;
  width: 140px;
  height: 230px;
  margin: -15px -10px 0px -5px;
  float: left;
  opacity: .5;
  transform: rotate(-20deg);
}
.shape2 {
  background-color: #C4E0F9;
  width: 160px;
  height: 120px;
  margin: -15px -5px;
  float: left;
  opacity: .5;
  transform: rotate(40deg);
  border-radius: 10%;
}
.shape3 {
  background-color: #B95F89;
  width: 130px;
  height: 60px;
  margin: -50px -20px;
  float: left;
}
