* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
main {
  width: 100vw;
}
.shape1 {
  background-color: #373D20;
  width: 190px;
  height: 150px;
  margin: -15px;
  float: left;
  opacity: .5;
  transform: rotate(20deg);
  border-radius: 20%;
}
.shape2 {
  background-color: #717744;
  width: 160px;
  height: 120px;
  margin: -15px -15px;
  float: left;
  opacity: .5;
  transform: rotate(40deg);
  border-radius: 10%;
}
.shape3 {
  background-color: #BCBD8B;
  width: 130px;
  height: 60px;
  margin: -15px -5px;
  float: left;
  border-radius: 10%;
}
