* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
main {
  width: 95vw;
}
.shape1 {
  background-color: #B8D8BA;
  width: 225px;
  height: 150px;
  margin: -30px;
  float: left;
  opacity: .5;
  boarder-radius: 30%;
}
.shape2 {
  background-color: #D9DBBC;
  width: 160px;
  height: 220px;
  margin: -10px -8px;
  float: left;
  opacity: .5;
  transform: rotate(40deg);
}
.shape3 {
  background-color: #FCDDBC;
  width: 30px;
  height: 60px;
  margin: -10px -.75px;
  float: left;
  opacity: .5;
}
