html {
  background-color:;
  color: ;
}

body {
  margin: 0 15% 0 15%;
}
h1,h2,h3 {
  color: ;
  font-family: Playfair Display;
  font-weight: bold;
}

h1 {
  text-align: center;
}

h2 {
}

.firstletter {
  color: yellow;
  width: 35%
}

.firstparagraph {
  width: 65%
}

ul {
  font-family: Source Sans;
  line-height: 1.2;
}

p {
  font-size: 15px;
  text-align: justify;
}

.bottompadding {
  padding-bottom: 25px;
}
