html {
    background-color: #14213D;
}

body {
  background-color: white;
  margin: 10% 20% 0 20%;
  padding: 100px;
}

h1,h2,h3 {
  color: ;
  font-family: Playfair Display;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  text-align: center;
}

hr {
  boarder: 3px #FCA311;
  width: 500px;
  align-content: center;
}

.sectiontwo {
  padding: 25px 0 25px 0;
}

.firstletter {
  color: #FCA311;
  font-size: 50px;
  font-weight: bold;
  display: inline;
}

.firstparagraph {
  display: inline;
}

ul {
  font-family: Source Sans;
  line-height: 1.2;
}

p {
  font-size: 20px;
  text-align: justify;
}

.bottompadding {
  padding-bottom: 25px;
}
