html {
  background-color:;
  color: ;
}

body {
  margin: 15% 15% 0 15%;
}
h1,h2,h3 {
  color: ;
  font-family: Playfair Display;
  font-weight: bold;
}

h1 {
  text-align: center;
}

h2 {
}

hr {
  border: 5px solid #FCA311;
}

.sectiontwo {
  padding: 25px 0 25px 0;
}

.firstletter {
  color: #FCA311;
  font-size: 35px;
  font-weight: bold;
  display: inline-block;
}

.firstparagraph {
  display: inline;
}

ul {
  font-family: Source Sans;
  line-height: 1.2;
}

p {
  font-size: 20px;
  text-align: justify;
}

.bottompadding {
  padding-bottom: 25px;
}
