* {
  box-sizing: border-box;
}
.wings{
    height:400px;
    width:400px;
    background-color:black;
    border-radius: 100%;
    float: left;
    position: absolute;
    z-index: 0;
}
.circleabove{
    height: 195px;
    width: 185px;
    margin-left: 114px;
    margin-top: -150px;
    background-color: white;
    border-radius:35%;
    float: left;
    position: absolute;
    z-index: 1;
}
.head{
    height: 40px;
    width: 40px;
    margin-top: 35px;
    margin-left: 185px;
    background-color: black;
    border-radius: 100%;
    float:left;
    position: absolute;
    z-index: 4;
}
.ears{
    width: 45px;
    height: 70px;
    margin-top: 20px;
    margin-left: 182.5px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    float: left;
    z-index: 2;
}
.earscirlce{
  width: 30px;
  height: 45px;
  margin-top: -2px;
  margin-left: 190px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  float: left;
  z-index: 3;
}
.circle{
    height:100px;
    width:110px;
    border-radius:50%;
    background-color: white;
    position: absolute;
    z-index:3;
    float: left;
}
.leftmiddle{
  margin-top: 110px;
  margin-left: 95px;
  transform: rotate(-80deg);
}
.left{
    margin-top: 80px;
    margin-left: 290px;
}
.rightmiddle{
    margin-top: 110px;
    margin-left: 195px;
    transform: rotate(80deg);
}
.right{
    margin-top: 80px;
    margin-left: 0px;
}
.rectangle{
  background-color: white;
  width: 400px;
  height: 250px;
  margin-top: 152px;
  margin-left: 0px;
  float: left;
  position: absolute;
  z-index: 3;
}
